.header__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__text {
	width: 465px;
	
	p {
		font-weight: 400;
		line-height: 1.687;
		margin-bottom: 42px;
	}
}

.header__title {
	position: relative;
	margin-right: -150px;
	margin-bottom: 25px;
	font-weight: 700;
	font-size: 54px;
	line-height: 1.46;
}

.header__img img{
	border-radius: 40px 40px 40px 0;
}